@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Nav Bar design */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font:"Inter", sans-serif;
}

.navbar {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 25px 240px;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.4);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-left h1 {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-us,
.developer {
    outline: none;
    background-color: transparent;
    border: none;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 500;
}

.fa-youtube {
    color: red;
}

.fa-brands {
    margin-left: 9px;
}
.follow-btn {
    width: 250px;
    height: 46px;
    font-family: var(--primary-font);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    background-color: rgba(11,2,35,0.1);
    border: none;
}